* {
  margin: 0px;
  padding: 0px;
}
#content {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 5fr 1fr;
}
#sidebar {
  background-color: lightcoral;
  grid-area: 1/1/-1/2;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-rows: 1fr 3fr;
}
#header {
  background-color: lightpink;
  grid-area: 1/2/2/-1;
}
#main {
  background-color: lightsteelblue;
  grid-area: 2/2/-2/-1;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-content: start;
  gap: 20px;
}
#displayOfProjects {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30%;
  height: 30%;
  justify-self: center;
  align-self: center;
  position: absolute;
  gap: 12px;
  overflow: scroll;
}
.projects {
  background-color: lightslategrey;
}
#footer {
  background-color: coral;
  grid-area: -2/2/-1/-1;
}
